<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"layouts>

<head th:include="/layouts/fragments/scripts :: head" />
	<body class="login-page">
		<div class="content">
			<div class="col-md-4 ml-auto mr-auto">
				<div class="card card-login card-plain">
					<div class="card-header text-center">
						<img class="card-img" src="/photos/dogs.jpg" alt="Card image">
						<h4 class="card-title"> <i class="fa fa-paw" th:text="#{login.message}" ></i></h4>
					</div>
					<div class="card-body">
						<form class="form" th:action="@{/login}" method="post">
							<div class="input-group">
								<div class="input-group-prepend">
								</div>
							</div>
							<div class="input-group">
								<div class="input-group-prepend">
									<div class="input-group-text">
										<i class="tim-icons icon-single-02"></i>
									</div>
								</div>
								<input type="text" placeholder="username" class="form-control"
									   th:placeholder="#{login.user}" required="true" name="username">
							</div>
							<div class="input-group">
								<div class="input-group-prepend">
									<div class="input-group-text">
										<i class="tim-icons icon-lock-circle"></i>
									</div>
								</div>
								<input type="password" class="form-control" placeholder="password"
									   th:placeholder="#{login.password}" required="true" name="password">
							</div>
							<div class="card-footer text-center">
								<button type="submit" class="btn btn-primary btn-round"
										id="submit-button" th:text="#{login.enter}"> </button>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>

	<head th:include="/layouts/fragments/scripts :: javascripts" />
	</body>

</html>
