<html layout:decorate="~{/layouts/main}">

<head>
    <title th:text="#{item.header}"/>
</head>

<th:block layout:fragment="js-view">
    <script th:src="@{/js/addressFinder.js}"></script>
    <script th:src="@{/js/create_announce_page.js}"></script>
</th:block>

<div layout:fragment="content-body">
    <div class="card card-body">
    <form action="#" method="post" th:action="@{/announce/create}" th:object="${form}" accept-charset="UTF-8" enctype="multipart/form-data">
        <div class="row">
            <div class="col">
                <div class="form-group">
                    <label for="announce_form_title" th:text="#{announce.form.title}"> </label>
                    <input type="text" class="form-control" id="announce_form_title" th:field="*{announce.title}" required
                           minlength="9" maxlength="120"
                           th:classappend="${#fields.hasErrors('announce.title')} ? is-invalid">
                    <div class="invalid-feedback" th:if="${#fields.hasErrors('announce.title')}"
                         th:errors="*{announce.title}"></div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col col-md-4">
                <div th:replace="/announce/fragments/announce_left_fields" :: announce_left_fields></div>
            </div>
            <div class="col col">
                <div th:replace="/announce/fragments/announce_right_fields" :: announce_right_fields></div>
            </div>
        </div>

        <div class="col text-right">
            <button class="btn btn-success" th:text="#{announce.form.save}">
                Criar anúncio
            </button>
        </div>
    </form>
    </div>

</div>
