<html layout:decorate="~{/layouts/main}">

<th:block layout:fragment="meta-view">
    <title th:text="#{item.header}"/>
</th:block>

<div layout:fragment="content-body">
    <div class="row">
        <div class="col col-md-3">
            <div class="card">
                <form method="get" action="#" th:action="@{/announces}" accept-charset="UTF-8">
                    <input type="hidden" name="page" value="0">
                    <div class="card-header">
                        <i class="fas fa-filter"></i>
                         <span class="ml-1" th:text="#{form.filter.filters}"> </span>
                    </div>
                    <div class="card-body">
                        <div class="form-group" th:each="filter : ${filters}">
                            <label th:text="${filter.label}"> </label>
                            <div class="form-check">
                                <div th:each="option : ${filter.options}">
                                    <input class="form-check-input" type="checkbox"
                                           th:id="${filter.id + '-' + option.id}"
                                           th:name="${filter.id}" th:value="${option.id}"
                                           th:checked="${#lists.contains(__'form.' + ${filter.id}__, option.id)} ? checked">
                                    <label class="form-check-label"
                                           th:for="${filter.id + '-' + option.id}"
                                           th:text="#{${option.label}}"> </label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer">
                        <button class="btn btn-secondary btn-sm btn-block" type="submit"
                                th:text="#{form.filter.button}"></button>
                    </div>
                </form>
            </div>
        </div>
        <div class="col col-md-9">
            <div class="card">
                <div class="card-header">
                    Anúncios
                </div>
                <div class="card-body">
                    <th:block th:each="announce :  ${announces.data}">
                        <a th:replace="/announce/fragments/callout :: callout(${announce})"></a>
                    </th:block>
                </div>
                <div class="card-footer">
                    <div class="pull-right">
                        <div th:replace="/layouts/fragments/pagination :: pagination(${announces})"></div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
