<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head th:insert="/layouts/fragments/scripts :: head" />
<body class="layout-top-nav layout-navbar-fixed">

<!-- Site wrapper -->
<div class="wrapper">
	<nav th:insert="/layouts/fragments/static-top :: navbar" />

	<!-- Content Wrapper. Contains page content -->
	<div class="content-wrapper">
		<!-- Main content -->
		<section class="content">
			<div class="container">
				<div class="row">
					<div class="col-12">
						<div layout:fragment="content-header"></div>
					</div>
				</div>

				<div class="row">
					<div class="col-12">
						<div layout:fragment="content-body"></div>
					</div>
				</div>
			</div>
		</section>
	</div>
	<footer th:insert="/layouts/fragments/footer ::footer"></footer>
</div>

<th:block layout:fragment="modal-view" />

<div th:insert="/layouts/fragments/scripts :: javascripts" />
</body>


</html>
