<!DOCTYPE html>
<html lang="es" xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

	<head th:include="/layouts/fragments/scripts :: head" />
	<body class="landing-page">
	<div th:include="/layouts/fragments/static-top :: main"/>
	<div class="wrapper">
		<div id="content-header">
			<div layout:fragment="content-header"></div>
		</div>
		<section class="section section-lg">
		</section>
		<div id="content-body">
			<div layout:fragment="content-body"></div>
		</div>
		<footer th:include="/layouts/fragments/footer :: main"/>
	</div>
		<div th:include="/layouts/fragments/scripts :: javascripts"/>

	</body>
</html>
