<div xmlns:th="http://www.w3.org/1999/xhtml" th:fragment="announce_right_fields">
    <div class="row">
        <div class="col">
            <div class="form-group">
                <label for="announce_form_animal_name" th:text="#{announce.form.name}"> </label>
                <input type="text" class="form-control" id="announce_form_animal_name" name="animal_name" required minlength="2" maxlength="120">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="form-group">
                <label for="announce_form_animal_age" th:text="#{announce.form.age}"> </label>
                <input type="number" class="form-control" id="announce_form_animal_age" name="animal_age" required max="99" min="0" step="1">
            </div>
        </div>
        <div class="col">
            <div class="form-group">
                <label th:text="#{announce.form.animalGender}"> </label>
                <br>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="animal_gender" checked id="announce_form_animal_gender_male">
                    <label class="form-check-label" for="announce_form_animal_gender_male">Macho</label>
                </div>

                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="animal_gender" id="announce_form_animal_gender_female">
                    <label class="form-check-label" for="announce_form_animal_gender_female">Fêmea</label>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col col-md-4">
            <div class="form-group">
                <label for="announce_form_animal_size" th:text="#{announce.form.size}"> </label>
                <select class="custom-select" id="announce_form_animal_size" name="animal_size" required>
                    <option selected>Escolha o porte do cachorro</option>
                    <option value="1">Pequeno</option>
                </select>
            </div>
        </div>

        <div class="col">
            <div class="form-group">
                <label for="announce_form_animal_breed" th:text="#{announce.form.breed}"> </label>
                <input type="text" maxlength="50" minlength="3" required class="form-control" id="announce_form_animal_breed" name="animal_breed">
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col col-md-6">
            <div class="form-group">
                <label th:text="#{announce.form.castrated}"> </label>
                <br>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="animal_castrated" value="1" checked id="announce_form_animal_castrated_yes">
                    <label class="form-check-label" for="announce_form_animal_castrated_yes" th:text="#{announce.form.castrated.yes}">Sim</label>
                </div>

                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="animal_castrated" value="2" id="announce_form_animal_castrated_no">
                    <label class="form-check-label" for="announce_form_animal_castrated_no" th:text="#{announce.form.castrated.no}">No</label>
                </div>

                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="animal_castrated" value="3" id="announce_form_animal_castrated_doubt">
                    <label class="form-check-label" for="announce_form_animal_castrated_doubt" th:text="#{announce.form.castrated.doubt}">Não sei</label>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="form-group">
                <label th:text="#{announce.form.type}"> </label>
                <br>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="animal_type" value="1" checked id="announce_form_animal_type_dog">
                    <label class="form-check-label" for="announce_form_animal_type_dog" th:text="#{announce.form.type.dog}">Cachorro</label>
                </div>

                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="animal_type" value="2" id="announce_form_animal_type_cat">
                    <label class="form-check-label" for="announce_form_animal_type_cat" th:text="#{announce.form.type.cat}">Gato</label>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <div class="form-group">
                <label for="announce_form_animal_local" th:text="#{announce.form.place}"> </label>
                <input type="text" class="form-control" id="announce_form_animal_local" name="animal_name" minlength="3" maxlength="200" required>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <div class="form-group">
                <label for="announce_form_description" th:text="#{announce.form.description}"> </label>
                <textarea class="form-control" id="announce_form_description" name="description" rows="5" required maxlength="5000" minlength="40"></textarea>
            </div>
        </div>
    </div>

</div>