<div xmlns:th="http://www.w3.org/1999/xhtml" th:fragment="announce_left_fields">
    <div class="row">
        <div class="col">
            <div th:replace="/layouts/fragments/cropper :: cropper('mainPhotoCropper')"></div>
        </div>
    </div>

    <div class="row">
        <div class="col col-md-6">
            <div th:replace="/layouts/fragments/cropper :: cropper('secondPhotoCropper')"></div>
        </div>

        <div class="col col-md-6">
            <div th:replace="/layouts/fragments/cropper :: cropper('thirdPhotoCropper')"></div>
        </div>
    </div>
</div>