<div xmlns:th="http://www.w3.org/1999/xhtml" th:fragment="announce_right_fields">
    <div class="row">
        <div class="col">
            <div class="form-group">
                <label for="announce_form_animal_name" th:text="#{announce.form.name}"> </label>
                <input type="text" class="form-control" id="announce_form_animal_name" th:field="*{name}" required
                       minlength="2" maxlength="120">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="form-group">
                <label for="announce_form_animal_age" th:text="#{announce.form.age}"> </label>
                <input type="number" class="form-control" id="announce_form_animal_age" th:field="*{age}" required
                       max="99" min="0" step="1">
            </div>
        </div>
        <div class="col">
            <div class="form-group">
                <label th:text="#{announce.form.animalGender}"> </label>
                <br>
                <div class="form-check form-check-inline" th:each="i : ${animalGender}">
                    <input class="form-check-input" type="radio" th:field="*{animalGender}" th:value="${i.id}">
                    <label class="form-check-label" th:for="${#ids.prev('animalGender')}" th:text="${i.name}"> </label>
                </div>

            </div>
        </div>
    </div>

    <div class="row">
        <div class="col col-md-4">
            <div class="form-group">
                <label for="announce_form_animal_size" th:text="#{announce.form.size}"> </label>
                <select class="custom-select" id="announce_form_animal_size" th:field="*{animalSize}" required>
                    <option th:each="i : ${animalSize}" th:value="${i.id}" th:text="${i.name}"> </option>
                </select>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col col-md-6">
            <div class="form-group">
                <label th:text="#{announce.form.castrated}"> </label>
                <br>

                <div class="form-check form-check-inline" th:each="i : ${animalCastrated}">
                    <input class="form-check-input" type="radio" th:field="*{animalCastrated}" th:value="${i.id}">
                    <label class="form-check-label" th:for="${#ids.prev('animalCastrated')}" th:text="${i.name}"> </label>
                </div>

            </div>
        </div>

        <div class="col">
            <div class="form-group">
                <label th:text="#{announce.form.type}"> </label>
                <br>
                <div class="form-check form-check-inline" th:each="i : ${animalType}">
                    <input class="form-check-input" type="radio" th:field="*{animalType}" th:value="${i.id}">
                    <label class="form-check-label" th:for="${#ids.prev('animalType')}" th:text="${i.name}"> </label>
                </div>

            </div>
        </div>
    </div>

    <div class="row">
        <div class="col col-md-5">
            <div class="form-group">
                <label for="announce_form_zipCode" th:text="#{announce.form.zipCode}"> </label>
                <input type="text" class="form-control mask-zipcode" id="announce_form_zipCode" th:field="*{zipCode}" required
                       minlength="9" maxlength="9">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col col-md-3">
            <div class="form-group">
                <label for="announce_form_state" th:text="#{announce.form.state}"> </label>
                <input type="text" class="form-control" id="announce_form_state" th:field="*{state}" required
                       minlength="2" maxlength="2">
            </div>
        </div>

        <div class="col">
            <div class="form-group">
                <label for="announce_form_city" th:text="#{announce.form.city}"> </label>
                <input type="text" class="form-control" id="announce_form_city" th:field="*{city}" required
                       minlength="3" maxlength="120">
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col col-md-6">
            <div class="form-group">
                <label for="announce_form_neighborhood" th:text="#{announce.form.neighborhood}"> </label>
                <input type="text" class="form-control" id="announce_form_neighborhood" th:field="*{neighborhood}" required
                       minlength="3" maxlength="120">
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col col-md-9">
            <div class="form-group">
                <label for="announce_form_address" th:text="#{announce.form.address}"> </label>
                <input type="text" class="form-control" id="announce_form_address" th:field="*{address}" required
                       minlength="3" maxlength="120">
            </div>
        </div>

        <div class="col">
            <div class="form-group">
                <label for="announce_form_address_number" th:text="#{announce.form.addressNumber}"> </label>
                <input type="text" class="form-control" id="announce_form_address_number" th:field="*{addressNumber}"
                       minlength="1" maxlength="6">
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <div class="form-group">
                <label for="announce_form_description" th:text="#{announce.form.description}"> </label>
                <textarea class="form-control" id="announce_form_description" th:field="*{description}" rows="5" required
                          maxlength="10000" minlength="10"></textarea>
            </div>
        </div>
    </div>

</div>