<div th:fragment="main">

    <nav class="navbar navbar-expand-lg fixed-top navbar-transparent " color-on-scroll="100">
        <div class="container">
            <div class="navbar-translate">
                <a class="navbar-brand" href="/" rel="tooltip"  data-placement="bottom">
                    <i class="fa fa-paw"></i> <span th:text="#{login.title}"></span>
                </a>
                <button class="navbar-toggler navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation" aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-bar bar1"></span>
                    <span class="navbar-toggler-bar bar2"></span>
                    <span class="navbar-toggler-bar bar3"></span>
                </button>
            </div>
            <div class="collapse navbar-collapse justify-content-end" id="navigation">
                <div class="navbar-collapse-header">
                    <div class="row">
                        <div class="col-6 collapse-brand">
                            <a th:text="#{login.title1}">
                            </a>
                        </div>
                        <div class="col-6 collapse-close text-right">
                            <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navigation" aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation">
                                <i class="tim-icons icon-simple-remove"></i>
                            </button>
                        </div>
                    </div>
                </div>
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" rel="tooltip" title="criarAnuncio" href="#">
                            <i th:text="#{menu.create}"> </i>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" rel="tooltip" title="dashboard" href="/">
                            <i th:text="#{menu.dashboard}"></i>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" rel="tooltip" title="faleconosco" href="#">
                            <i th:text="#{menu.speak}"></i>
                        </a>
                    </li>
                    <div sec:authorize="isAnonymous()">
                        <li class="nav-item">
                            <a class="nav-link" rel="tooltip" title="login" href="/login">
                                <i th:text="#{menu.login}"></i>
                            </a>
                        </li>
                    </div>

                    <div sec:authorize="isAuthenticated()">

                        <li class="nav-item dropdown">
                            <a href="#" class="nav-link dropdown-toggle" id="navbarDropdownMenuLink"
                               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i th:text ="${#authentication.getPrincipal().getUser().getName()}">
                                        Dropdown link
                                </i>
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                <a class="dropdown-item" href="/logout"><i th:text="#{menu.logout}"></i></a>
                            </div>
                        </li>
                    </div>
                </ul>
            </div>
        </div>
    </nav>

</div>
