<!-- Navbar -->
<nav class="main-header navbar navbar-expand" th:fragment="navbar">
    <!-- Left navbar links -->
    <ul class="navbar-nav">
        <li class="nav-item">
            <a href="#" class="fa fa-paw nav-link text-white" th:text="#{login.title1}" id="menudashboard">
                Ir para dashboard
            </a>
        </li>
        <li class="nav-item">
            <a th:href="@{/announces}" class="nav-link text-white" th:text="#{menu.see}" id="menusee">
                Ver anúncios
            </a>
        </li>
        <li class="nav-item">
            <a th:href="@{/announce/create}" class="nav-link text-white" th:text="#{menu.create}" id="menucreate">
                Criar anúncio
            </a>
        </li>
        <li class="nav-item">
            <a th:href="@{/user/create}" class="nav-link text-white" th:text="#{menu.account}" id="menuaccount">
                Criar cadastro
            </a>
        </li>
        <li class="nav-item">
            <a href="#" class="nav-link text-white" th:text="#{menu.speak}" id="menuspeak">
                Fale conosco
            </a>
        </li>
    </ul>

    <!-- Right navbar links -->
    <ul class="navbar-nav ml-auto">
        <li class="dropdown user user-menu nav-item">
            <div sec:authorize="isAnonymous()">
                <a href="#" th:href="@{/login}" class="nav-link text-white" id="user-login">
                    <span th:text="#{login.enter}">Login</span>
                </a>
            </div>

            <div sec:authorize="isAuthenticated()">
                <a href="#" class="dropdown-toggle nav-link text-white" data-toggle="dropdown" id="user-info">
                    <i class="fas fa-user"></i>
                    <span th:text="${#authentication.principal.user.name}"><span
                            class="caret"></span></span>
                </a>
                <ul class="dropdown-menu dropdown-menu-right">
                    <li class="user-header bg-white text-center" style="padding: 5px; height: 100%; width: 100%;">
                        <p>
                            <small>
                                <a class="text-gray-dark"
                                   href="#" th:text="${#authentication.principal.user.email}">
                                </a>
                            </small>
                        </p>
                    </li>
                    <li class="user-footer">
                        <div class="text-center">
                            <a href="#" th:href="@{/logout}" id="logout-button"
                                   class="btn btn-secondary btn-flat" th:text="#{login.logout}"></a>
                        </div>
                    </li>
                </ul>
            </div>
        </li>
    </ul>
</nav>
<!-- /.navbar -->
