<!-- Navbar -->
<nav class="main-header navbar navbar-expand" th:fragment="navbar">
    <!-- Left navbar links -->
    <ul class="navbar-nav" th:object="${headerBar}">
        <li class="nav-item">
            <a class="fa fa-paw nav-link text-white" th:text="#{menu.home}"
               th:href="@{/}"
               th:classappend="*{home.active} ? 'active'">
                Ir para dashboard
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-white" th:text="#{menu.announces}"
               th:href="@{*{announces.href}}"
               th:classappend="*{announces.active} ? 'active'">
                Ver anúncios
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link text-white" th:text="#{header.suggested}"
               th:href="@{*{suggestions.href}}"
               th:classappend="*{suggestions.active} ? 'active'">
                Sugeridos
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link text-white" th:text="#{menu.createAnnounce}"
               th:href="@{*{createAnnounce.href}}"
               th:classappend="*{createAnnounce.active} ? 'active'">
                Criar anúncio
            </a>
        </li>
        <th:block sec:authorize="isAuthenticated()">
            <li class="nav-item">
                <a class="nav-link text-white" th:text="#{menu.manager}"
                   th:href="@{*{manager.href}}"
                   th:classappend="*{manager.active} ? 'active'">
                    Criar cadastro
                </a>
            </li>
        </th:block>
        <th:block sec:authorize="isAnonymous()">
            <li class="nav-item">
                <a class="nav-link text-white" th:text="#{menu.createUser}"
                   th:href="@{*{createUser.href}}"
                   th:classappend="*{createUser.active} ? 'active'">
                    Criar cadastro
                </a>
            </li>
        </th:block>

    </ul>

    <!-- Right navbar links -->
    <ul class="navbar-nav ml-auto">
        <li class="dropdown user user-menu nav-item">
            <div sec:authorize="isAnonymous()">
                <a href="#" th:href="@{/login}" class="nav-link text-white" id="user-login">
                    <span th:text="#{login.enter}">Login</span>
                </a>
            </div>

            <div sec:authorize="isAuthenticated()">
                <a href="#" class="dropdown-toggle nav-link text-white" data-toggle="dropdown" id="user-info">
                    <i class="fas fa-user"></i>
                    <span th:text="${#authentication.principal.user.name}"><span
                            class="caret"></span></span>
                </a>
                <ul class="dropdown-menu dropdown-menu-right">
                    <li class="user-header bg-white text-center" style="padding: 5px; height: 100%; width: 100%;">
                        <p>
                            <small>
                                <a class="text-gray-dark"
                                   href="#" th:text="${#authentication.principal.user.email}">
                                </a>
                            </small>
                        </p>
                    </li>
                    <li class="user-footer">
                        <div class="text-center">
                            <a href="#" th:href="@{/logout}" id="logout-button"
                                   class="btn btn-secondary btn-flat" th:text="#{login.logout}"></a>
                        </div>
                    </li>
                </ul>
            </div>
        </li>
    </ul>
</nav>
<!-- /.navbar -->
