<html layout:decorate="~{/layouts/main}">

<div layout:fragment="content-body">
    <div class="row">
        <div class="col col-md-3 manager-menu">
            <div th:replace="/manager/fragments/sidebar :: managerSidebar(${sidebar})"></div>
        </div>
        <div class="col col-md-9 manager-content">
            <div class="jumbotron" th:if="${announces.data.isEmpty()}">
                <h3 class="display-8" th:text="#{manager.__${status.name}__}"></h3>
                <p>Sem registros.</p>
            </div>

            <div class="card" th:if="${!announces.data.isEmpty()}">
                <div class="card-header">
                    <div class="row justify-content-between align-items-center">
                        <div class="col">
                            <div th:text="#{manager.__${status.name}__}"></div>
                        </div>
                        <div class="col-auto">
                            &nbsp;
                        </div>
                    </div>
                </div>

                <div class="card-body">
                    <div class="callout callout-pink" th:each="announce :  ${announces.data}">
                        <div class="row">
                            <div class="col col-md-3">
                                <img class="img-fluid" th:src="${'data:image/png;base64,' + announce.mainPhoto}">
                            </div>

                            <div class="col-md-9">
                                <div class="row">
                                    <div class="col-md-12">
                                        <h5 th:text="${announce.title}"> </h5>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-6">
                                        <div th:text="|#{announce.form.name}: ${announce.name}|"></div>
                                        <div th:text="|#{announce.form.age}: #{${announce.animalAge.name.name}}|"></div>
                                    </div>

                                    <div class="col-md-6">
                                        <div th:text="|#{announce.form.type}: #{${announce.animalType.name.name}}|"></div>
                                        <div th:text="|#{announce.form.animalGender}: #{${announce.animalGender.name.name}}|"></div>
                                    </div>
                                </div>

                                <div class="row justify-content-end">
                                    <div class="col-auto">
                                        <a class="btn btn-secondary btn-sm btn-block"
                                           th:text="#{user.list.details}" th:href="@{/announces/{id}(id = ${announce.id})}">
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-footer" th:if="${announces.totalPages > 0}">
                    <div class="pull-right">
                        <div th:replace="/layouts/fragments/pagination :: pagination(${announces})"></div>
                    </div>
                </div>
            </div>


        </div>
    </div>
</div>
