<html layout:decorate="~{/layouts/main}" xmlns:th="http://www.w3.org/1999/html">

<th:block layout:fragment="meta-view">
    <title th:text="|#{announce.list.title} - #{head.title}|"/>
</th:block>

<div layout:fragment="content-body">
    <div class="row">
        <div class="col col-md-3 manager-menu">
            <div th:replace="/manager/fragments/sidebar :: managerSidebar(${sidebar})"></div>
        </div>
        <div class="col col-md-9 manager-content">
            <div class="jumbotron" th:if="${announces.data.isEmpty()}">
                <h3 class="display-8" th:text="#{manager.__${status.name}__}"></h3>
                <p>Sem registros.</p>
            </div>

            <div class="card" th:if="${!announces.data.isEmpty()}">
                <div class="card-header">
                    <div class="row justify-content-between align-items-center">
                        <div class="col">
                            <div th:text="#{manager.__${status.name}__}"></div>
                        </div>
                        <div class="col-auto">
                            &nbsp;
                        </div>
                    </div>
                </div>

                <div class="card-body">
                    <th:block th:each="announce :  ${announces.data}">
                        <a th:replace="/announce/fragments/callout :: callout(${announce})"></a>
                    </th:block>
                </div>
                <div class="card-footer" th:if="${announces.totalPages > 0}">
                    <div class="pull-right">
                        <div th:replace="/layouts/fragments/pagination :: pagination(${announces})"></div>
                    </div>
                </div>
            </div>


        </div>
    </div>
</div>
