<html layout:decorate="~{/layouts/main}">

<th:block layout:fragment="meta-view">
    <title th:text="|#{user.details.title} - #{head.title}|"/>
</th:block>

<div layout:fragment="content-body">
    <div class="row">
        <div class="col col-md-3 manager-menu">
            <div th:replace="/manager/fragments/sidebar :: managerSidebar(${sidebar})"></div>
        </div>
        <div class="col col-md-9 manager-content">
            <div class="card">
                <div class="card-header">
                    <div class="row justify-content-between align-items-center">
                        <div class="col">
                            <div th:text="${user.name}"></div>
                        </div>
                        <div class="col-auto">
                            <button id="btn-edit-role" class="btn btn-xs btn-outline-dark btn-modal"
                                    data-toggle="modal" data-target="#modal-edit-role"
                                    th:attrappend="disabled=${isSelf} ? 'disabled'">
                                <i class="fa fa-user-edit"></i>
                                <span th:text="#{manager.admin.user.view.action.change-role}"></span>
                            </button>

                            <button id="btn-block-user" class="btn btn-xs btn-outline-dark btn-modal"
                                    data-toggle="modal" data-target="#modal-block-user"
                                    th:attrappend="disabled=${isSelf} ? 'disabled'">
                                <i class="fa fa-user-times"></i>
                                <span th:text="#{manager.admin.user.view.action.block-user}"></span>
                            </button>
                        </div>
                    </div>
                </div>

                <div class="card-body">
                    <div class="row">
                        <div class="col-md-3">
                            <div class="row">
                                <img th:src="${user.avatar}" class="img-fluid">
                            </div>
                        </div>
                        <div class="col-md-9">
                            <div class="row">

                                <div class="col col-md-7">
                                    <div class="form-group">
                                        <label th:text="#{user.form.username}"> </label>
                                        <div class="form-control" th:text="${user.username}"></div>
                                    </div>
                                </div>
                                <div class="col col-md-5">
                                    <div class="form-group">
                                        <label th:text="#{user.form.cpf}"> </label>
                                        <div class="form-control" th:text="${user.cpf}"></div>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col col-md-6">
                                    <div class="form-group">
                                        <label th:text="#{user.form.role}"> </label>
                                        <div class="form-control" th:text="#{${user.role.name}}"></div>
                                    </div>
                                </div>
                                <div class="col col-md-6">
                                    <div class="form-group">
                                        <label th:text="#{user.form.active}"> </label>
                                        <div class="form-control" th:text="${user.active} ? #{yes} : #{no}"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card-header" th:text="#{user.form.contact.data}"></div>

                <div class="card-body">
                    <div class="row">
                        <div class="col col-md-5">
                            <div class="form-group">
                                <label th:text="#{user.form.zipCode}"> </label>
                                <br>
                                <div class="form-control" th:text="${user.zipCode}"></div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col col-md-3">
                            <div class="form-group">
                                <label th:text="#{user.form.state}"> </label>
                                <br>
                                <div class="form-control" th:text="${user.state}"></div>
                            </div>
                        </div>

                        <div class="col">
                            <div class="form-group">
                                <label th:text="#{user.form.city}"> </label>
                                <br>
                                <div class="form-control" th:text="${user.city}"></div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col col-md-6">
                            <div class="form-group">
                                <label th:text="#{user.form.neighborhood}"> </label>
                                <br>
                                <div class="form-control" th:text="${user.neighborhood}"></div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col col-md-9">
                            <div class="form-group">
                                <label th:text="#{user.form.address}"> </label>
                                <br>
                                <div class="form-control" th:text="${user.address}"></div>
                            </div>
                        </div>

                        <div class="col">
                            <div class="form-group">
                                <label th:text="#{user.form.addressNumber}"> </label>
                                <br>
                                <div class="form-control" th:text="${user.addressNumber}"></div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card-header" th:text="#{user.form.contact.data}">

                </div>

                <div class="card-body">

                    <div class="row">
                        <div class="col col-md-5">
                            <div class="form-group">
                                <label th:text="#{user.form.name}"> </label>
                                <br>
                                <div class="form-control" th:text="${user.name}"></div>
                            </div>
                        </div>

                        <div class="col">
                            <div class="form-group">
                                <label th:text="#{user.form.email}"> </label>
                                <br>
                                <div class="form-control" th:text="${user.email}"></div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col col-md-6">
                            <div class="form-group">
                                <label th:text="#{user.form.residentialPhone}"> </label>
                                <br>
                                <div class="form-control" th:text="${user.residentialPhone}"></div>
                            </div>
                        </div>

                        <div class="col">
                            <div class="form-group">
                                <label th:text="#{user.form.celPhone}"> </label>
                                <br>
                                <div class="form-control" th:text="${user.celPhone}"></div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card-header" th:text="#{user.form.animal.data}">

                </div>

                <div class="card-body">
                    <div class="row">
                        <div class="col col-md-4">
                            <div class="form-group">
                                <label th:text="#{user.form.age}"> </label>
                                <br>
                                <div class="form-control" th:text="#{${user.animalAge.label}}"></div>
                            </div>
                        </div>
                        <div class="col col-md-4">
                            <div class="form-group">
                                <label th:text="#{user.form.animalGender}"> </label>
                                <br>
                                <div class="form-control" th:text="#{${user.animalGender.label}}"></div>
                            </div>
                        </div>
                        <div class="col col-md-4">
                            <div class="form-group">
                                <label th:text="#{user.form.size}"> </label>
                                <br>
                                <div class="form-control" th:text="#{${user.animalSize.label}}"></div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col col-md-4">
                            <div class="form-group">
                                <label th:text="#{user.form.color}"> </label>
                                <br>
                                <div class="form-control" th:text="#{${user.animalColor.label}}"></div>
                            </div>
                        </div>
                        <div class="col col-md-4">
                            <div class="form-group">
                                <label th:text="#{user.form.castrated}"> </label>
                                <br>
                                <div class="form-control" th:text="#{${user.animalCastrated.label}}"></div>
                            </div>
                        </div>
                        <div class="col col-md-4">
                            <div class="form-group">
                                <label th:text="#{user.form.type}"> </label>
                                <br>
                                <div class="form-control" th:text="#{${user.animalType.label}}"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<th:block layout:fragment="modal-view">

    <div class="modal fade" tabindex="-1" id="modal-edit-role">
        <div class="modal-dialog">
            <div class="modal-content">
                <form method="post" accept-charset="UTF-8"
                      th:action="@{/manager/admin/users/{id}/change-role(id = ${user.id})}">
                    <div class="modal-header">
                        <h5 class="modal-title" th:text="#{manager.admin.user.view.action.change-role}"></h5>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label for="modal-edit-role-roles"
                                   th:text="#{manager.admin.user.view.roles}"></label>
                            <select class="custom-select" id="modal-edit-role-roles" name="role" required>
                                <option th:each="i : ${roles}"
                                        th:value="${i.name()}" th:text="#{${i.name}}"
                                        th:selected="${user.role.equals(i)} ? selected"
                                ></option>
                            </select>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-secondary"
                                th:text="#{manager.admin.user.view.action.confirm}"></button>

                        <button type="button" class="btn btn-light" data-dismiss="modal"
                                th:text="#{manager.admin.user.view.action.cancel}"></button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="modal fade" tabindex="-1" id="modal-block-user">
        <div class="modal-dialog">
            <div class="modal-content">
                <form method="post" accept-charset="UTF-8"
                      th:action="@{/manager/admin/users/{id}/block-user(id = ${user.id})}">
                    <div class="modal-header">
                        <h5 class="modal-title" th:text="#{manager.admin.user.view.action.block-user}"></h5>
                    </div>
                    <div class="modal-body">

                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-secondary"
                                th:text="#{manager.admin.user.view.action.confirm}"></button>

                        <button type="button" class="btn btn-light" data-dismiss="modal"
                                th:text="#{manager.admin.user.view.action.cancel}"></button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</th:block>
