<html layout:decorate="~{/layouts/main}">

<th:block layout:fragment="js-view">
    <script src="/js/addressFinder.js"></script>
</th:block>

<th:block layout:fragment="meta-view">
    <title th:text="|#{user.pass.title} - #{head.title}|"/>
</th:block>

<div layout:fragment="content-body">
    <div class="row">
        <div class="col col-md-3 manager-menu">
            <div th:replace="/manager/fragments/sidebar :: managerSidebar(${sidebar})"></div>
        </div>
        <div class="col col-md-9 manager-content">

            <div class="card">
                <div class="card-header">
                    <div class="row justify-content-between align-items-center">
                        <div class="col">
                            <div>Troca de senha</div>
                        </div>
                        <div class="col-auto">
                            <a class="btn btn-outline-dark btn-xs" th:href="@{/manager}">
                                Voltar
                            </a>
                        </div>
                    </div>
                </div>

                <form method="post" th:action="@{/manager/user/password}" th:object="${form}" accept-charset="UTF-8">

                    <div class="card-body">
                        <div class="row">
                            <div class="col col-md-6">
                                <div class="form-group">
                                    <label for="user_form_password_current" th:text="#{user.form.password.current}+'*'">Senha atual</label>
                                    <input type="password" class="form-control" id="user_form_password_current" th:field="*{currentPassword}" required
                                           minlength="1" maxlength="20" autocomplete="off"
                                           th:classappend="${#fields.hasErrors('currentPassword')} ? is-invalid">
                                    <div class="invalid-feedback" th:if="${#fields.hasErrors('currentPassword')}" th:errors="*{currentPassword}"></div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col col-md-6">
                                <div class="form-group">
                                    <label for="user_form_password_new" th:text="#{user.form.password.new}+'*'">Nova senha</label>
                                    <input type="password" class="form-control" id="user_form_password_new" th:field="*{newPassword}" required
                                           minlength="6" maxlength="20" autocomplete="off"
                                           th:classappend="${#fields.hasErrors('newPassword')} ? is-invalid">
                                    <div class="invalid-feedback" th:if="${#fields.hasErrors('newPassword')}" th:errors="*{newPassword}"></div>
                                </div>
                            </div>
                            <div class="col col-md-6">
                                <div class="form-group">
                                    <label for="user_form_password_repeat" th:text="#{user.form.password.repeat}+'*'">Repetir senha</label>
                                    <input type="password" class="form-control" id="user_form_password_repeat" th:field="*{repeatPassword}" required
                                           minlength="6" maxlength="20" autocomplete="off"
                                           th:classappend="${#fields.hasErrors('repeatPassword')} ? is-invalid">
                                    <div class="invalid-feedback" th:if="${#fields.hasErrors('repeatPassword')}" th:errors="*{repeatPassword}"></div>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="card-footer text-right">
                        <button class="btn btn-success" th:text="#{user.form.update}"></button>
                    </div>
                </form>
            </div>
        </div>
    </div>
