<html layout:decorate="~{/layouts/main}">

<th:block layout:fragment="js-view">
    <script src="/js/addressFinder.js"></script>
</th:block>

<th:block layout:fragment="meta-view">
    <title th:text="#{item.header}"/>
</th:block>

<div layout:fragment="content-body">
    <div class="row">
        <div class="col col-md-3 manager-menu">
            <div th:replace="/manager/fragments/sidebar :: managerSidebar(${sidebar})"></div>
        </div>
        <div class="col col-md-9 manager-content">

            <div class="card">
                <div class="card-header">
                    <div class="row justify-content-between align-items-center">
                        <div class="col">
                            <div>Troca de senha</div>
                        </div>
                        <div class="col-auto">
                            <a class="btn btn-outline-dark btn-xs" th:href="@{/manager}">
                                Voltar
                            </a>
                        </div>
                    </div>
                </div>

                <form method="post" th:action="@{/manager/user/password}" accept-charset="UTF-8">

                    <div class="card-body">
                        <div class="row">
                            <div class="col col-md-6">
                                <div class="form-group">
                                    <label>Senha atual</label>
                                    <input type="password" class="form-control" autocomplete="off"></input>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col col-md-6">
                                <div class="form-group">
                                    <label>Nova senha</label>
                                    <input type="password" class="form-control" autocomplete="off"></input>
                                </div>
                            </div>
                            <div class="col col-md-6">
                                <div class="form-group">
                                    <label>Repita a senha</label>
                                    <input type="password" class="form-control" autocomplete="off"></input>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="card-footer text-right">
                        <button class="btn btn-success" th:text="#{user.form.update}"></button>
                    </div>
                </form>
            </div>
        </div>
    </div>
