:root{

    --mypink:       #e83e8c;
    --mywhite:      #f8f9fa;
    --mysoftpink:   #ff80bf;
    --mypurple:     #7300e6;
}


.pull-right {
    float: right;
}

.content-wrapper
{
    background-color: gainsboro !important;
    padding-top: 15px !important;
}


.btn-secondary, .navbar-expand {
    text-decoration: none !important;
    background-color: var(--mypink);
    color: var(--mywhite) !important;
    border-color: var(--mypink);
}

.btn-secondary:hover
{
    background-color: var(--mysoftpink);
    color: var(--mywhite);
    border-color: var(--mysoftpink);
}

.btn-secondary:focus,
.btn-secondary:active,
.btn-secondary:link
{
    background-color: var(--mysoftpink) !important;
    color: white !important;
    border-color: var(--mysoftpink) !important;
}

.callout-pink {
    border-left-color: var(--mypink);
}


/* Cropper */
.img-container,
.img-preview {
    background-color: #f7f7f7;
    text-align: center;
    width: 100%;
}

.img-preview {
    overflow: hidden;
    position: relative;
}

.img-preview.cropper-preview-remove:after {
    content: " ";
    display: none;
    position: absolute;
    z-index: 4000;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-size: contain;
    background: url("../img/close.png") no-repeat 50% 50%;
}

.cropper-remove .img-preview > img {
    opacity: .4;
}

.cropper-remove .img-preview.cropper-preview-remove:after {
    display: block;
}

.cropper-remove button.btn-select {
    display: none;
}


/* page-link */
.page-link {
    color: black;
}


/* btn-outline-secondary */


/* btn-outline-secondary */
.btn-outline-secondary {
    text-decoration: none;
    color: var(--mypink);
    border-color: var(--mypink);
}

.btn-outline-secondary:hover {
    background-color: var(--mypink);
    border-color: var(--mypink);
}

.btn-outline-secondary:active, .btn-outline-secondary.active, .btn-outline-secondary.dropdown-toggle.show {
    background-color: var(--mypink);
    border-color: var(--mypink);
}

.btn-outline-secondary:disabled, .btn-outline-secondary.disabled {
    color: var(--mypink);
}

/* Manager */

.manager-menu .card-body {
    padding-top: 1rem;
}

.manager-menu .card-body .btn {
    margin-top: 0.25rem;
}

.manager-menu .card-body:not(:last-child) {
    border-bottom: 1px solid rgba(0,0,0,.125);
}

.manager-menu .btn .badge {
    top: 4px;
}

.manager-content .jumbotron {
    background-color: white;
    box-shadow: 0 0 1px rgba(0,0,0,.125), 0 1px 3px rgba(0,0,0,.2);
}