<html layout:decorate="~{/layouts/main}" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <title th:text="#{item.header}"/>
</head>

<div layout:fragment="css-view" th:remove="tag">
    <link rel="stylesheet" href="/webjars/select2/4.0.5/css/select2.min.css"/>

    <style>
        .select2-results__option { color: black !important; }
    </style>
</div>

<!--TODO RNG006
    TODO RNG007 -->
<div layout:fragment="js-view">
    <script src="/webjars/select2/4.0.5/js/select2.min.js"></script>
    <script>

        function reloadAnnounces(page){

            //https://www.google.com/search?client=ubuntu&channel=fs&q=get+text+of+selected+option+jquery&ie=utf-8&oe=utf-8
            page = parseInt(page) || 1;
            let query = $.param({"page": page,
                "animalTypeId": $("#filtroTipo").val(), "cityId": $("#filtroCidade").val()});

            $("#badge-label").show();
            $("#city").text($("#filtroCidade option:selected").text());
            $("#animal-type").text($("#filtroTipo option:selected").text());

            if(!$("#filtroCidade option:selected").text() && !$("#filtroTipo option:selected").text()){
                $("#badge-label").hide();
            }

            $("#announce-list-container").load("/announce/filter?"+query, function(){
                $(".page-link").click(function(){

                    $("html, body").animate({ scrollTop: 0 }, "slow");
                    reloadAnnounces($(this).text());
                });
            });

        }

        $("document").ready(function(){

            reloadAnnounces();

            $("select").change(function(){
                reloadAnnounces()
            });


            $("#filtroCidade, #filtroTipo").select2({
                "language": {
                    "noResults": function(){
                        //TODO MSG04
                        return "Não foram localizados registros. ";
                    }
                },
                "placeholder":"--Selecione--",
                "allowClear":true,
                "width":"30%",
                'escapeMarkup': function (markup) {
                    return markup;
                },
            });
        });
    </script>
</div>


<div layout:fragment="content-body">

    <div class="row justify-content-center">
        <div class="col-lg-8 col-md-12">
            <div class="card">
                <div class="card-body">
                    <div class="card-title">
                      <h3 class="title" th:text="#{text.about}"></h3>
                    </div>
                    <h4 class="description" th:text="#{text.us}">
                    </h4>
                </div>
            </div>
        </div>
    </div>

    <section>
        <div class="container">
            <div class="row text-center">
                <div class="col-md-12 align">
                    <label for="filtroCidade" th:text="#{filter.type.city}" class="ml-5"> </label>
                    <select id="filtroCidade">
                        <option value=""></option>
                        <th:block th:each="city : ${cities}">
                            <option value="2" th:value="${city.id}" th:text="${city.description}"> Canoas </option>
                        </th:block>
                    </select>

                    <label for="filtroTipo" th:text="#{filter.type.animal}" class="ml-5"> </label>
                    <select id="filtroTipo">
                        <option value=""></option>
                        <th:block th:each="animalType : ${animalTypes}">
                            <option value="1" th:value="${animalType.id}" th:text="${animalType.name}"> Cão </option>
                        </th:block>
                    </select>
                </div>
            </div>
        </div>
    </section>

    <div class="row text-center" style="padding-top: 10px">
        <div class="col-md-12">
            <label th:text="#{filter.who}" id="badge-label"></label>
            <a href="#" class="badge badge-primary" id="city"> Canoas </a>
            <a href="#" class="badge badge-primary" id="animal-type">Cachorro Fêmea </a>
        </div>
    </div>

    <div id="announce-list-container">

    </div>
</div>
