<html layout:decorate="~{/layouts/main}" xmlns:th="http://www.w3.org/1999/xhtml">

<th:block layout:fragment="meta-view">
    <title th:text="|#{announce.home.title} - #{head.title}|"/>
</th:block>

<div layout:fragment="js-view">

</div>

<div layout:fragment="content-body">
    <div class="row">
        <div class="col col-md-3">
            <div class="card">
                <form method="get" action="#" th:action="@{/announces}" accept-charset="UTF-8">
                    <input type="hidden" name="page" value="0">
                    <div class="card-header">
                        <i class="fas fa-filter"></i>
                        <span class="ml-1" th:text="#{form.filter.filters}"> </span>
                    </div>
                    <div class="card-body">
                        <div class="form-group" th:each="filter : ${filters}">
                            <label th:text="${filter.label}"> </label>
                            <div class="form-check">
                                <div th:each="option : ${filter.options}">
                                    <input class="form-check-input" type="checkbox"
                                           th:id="${filter.id + '-' + option.id}"
                                           th:name="${filter.id}" th:value="${option.id}"
                                           th:checked="${#lists.contains(__'form.' + ${filter.id}__, option.id)} ? checked">
                                    <label class="form-check-label"
                                           th:for="${filter.id + '-' + option.id}"
                                           th:text="#{${option.label}}"> </label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer">
                        <button class="btn btn-secondary btn-sm btn-block" type="submit"
                                th:text="#{form.filter.button}"></button>
                    </div>
                </form>
            </div>
        </div>

        <div class="col col-md-9">
            <div class="card">

                <div class="card-header" th:text="#{about.us}">Sobre nós</div>
                <div class="card-body" >
                    <img class="float-left mr-2" th:src="@{/img/homepetlandia.png}"
                         alt="Cachorros_gato" style="width:260px;height:200px;">
                    <p th:text="#{first.paragraph}">
                        Lorem ipsum dolor sit amet.
                    </p>
                    <p th:text="#{second.paragraph}">
                        Vivamus malesuada bibendum pellentesque.
                    </p>
                </div>

            </div>

            <div class="card recommendation-list">
                <div class="card-header" th:text="#{announces.suggested}">
                    Recomendado
                </div>
                <div class="card-body">
                    <div class="jumbotron" sec:authorize="isAnonymous()">
                        <p>
                            <a class="text-gray" th:text="#{register.message}" th:href="@{/user/create}" >Registre-se</a>
                            <span>ou</span>
                            <a class="text-gray" th:text="#{login.home}" th:href="@{/login}">Faça login</a>
                            <span th:text="#{system.suggested}">no sistema p ver suas recomendações.</span>
                        </p>
                    </div>

                    <h5 th:text="#{announce.list.empty}" th:if="${suggestions.isEmpty()}"
                        sec:authorize="isAuthenticated()" class="pl-4 pt-4"></h5>

                    <div id="carousel-recommended" class="carousel slide" data-ride="carousel"
                         sec:authorize="isAuthenticated()" th:unless="${suggestions.isEmpty()}">
                        <div class="carousel-inner">
                            <div class="carousel-item"
                                 th:each="announce, status : ${suggestions}"
                                 th:classappend="${status.first} ? 'active'">

                                <a th:replace="/announce/fragments/callout :: callout(${announce})"></a>
                            </div>
                        </div>
                        <a class="carousel-control-prev" href="#carousel-recommended" role="button" data-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="sr-only">Previous</span>
                        </a>
                        <a class="carousel-control-next" href="#carousel-recommended" role="button" data-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="sr-only">Next</span>
                        </a>
                    </div>
                </div>
                <div class="card-footer">
                    <a th:href="@{/suggestions}" class="btn btn-secondary pull-right"
                       th:unless="${suggestions.isEmpty()}">
                        Ver mais
                    </a>
                </div>
            </div>

            <div class="card">
                <div class="card-header" th:text="#{last.announces}">
                    Últimos anúncios
                </div>
                <div class="card-body">
                    <h5 th:text="#{announce.list.empty}" th:if="${announces.isEmpty()}"></h5>
                    <th:block th:each="announce :  ${announces}">
                        <a th:replace="/announce/fragments/callout :: callout(${announce})"></a>
                    </th:block>
                </div>
                <div class="card-footer">
                    <a th:href="@{/announces}" class="btn btn-secondary pull-right"
                       th:unless="${announces.isEmpty()}">
                        Ver mais
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
