<html layout:decorate="~{/layouts/main}" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <title th:text="#{item.header}"/>
</head>

<div layout:fragment="js-view">

</div>

<div layout:fragment="content-body">
    <div class="row">
        <div class="col col-md-3">
            <div class="card">
                <form method="get" action="#" th:action="@{/announces}" accept-charset="UTF-8">
                    <input type="hidden" name="page" value="0">
                    <div class="card-header">
                        <i class="fas fa-filter"></i>
                        <span class="ml-1" th:text="#{form.filter.filters}"> </span>
                    </div>
                    <div class="card-body">
                        <div class="form-group" th:each="filter : ${filters}">
                            <label th:text="${filter.label}"> </label>
                            <div class="form-check">
                                <div th:each="option : ${filter.options}">
                                    <input class="form-check-input" type="checkbox"
                                           th:id="${filter.id + '-' + option.id}"
                                           th:name="${filter.id}" th:value="${option.id}"
                                           th:checked="${#lists.contains(__'form.' + ${filter.id}__, option.id)} ? checked">
                                    <label class="form-check-label"
                                           th:for="${filter.id + '-' + option.id}"
                                           th:text="#{${option.label}}"> </label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer">
                        <button class="btn btn-secondary btn-sm btn-block" type="submit"
                                th:text="#{form.filter.button}"></button>
                    </div>
                </form>
            </div>
        </div>

        <div class="col col-md-9">
            <div class="card">
                <div class="card-header">Sobre nós</div>
                <div class="card-body">
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla ac eleifend ante. Duis sit amet condimentum nunc. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. In gravida dolor elementum, sodales leo in, rhoncus orci. Integer porta iaculis luctus. Nam velit libero, feugiat ut ante et, sagittis laoreet nisi. Fusce ut aliquet eros. Phasellus finibus odio in mi pretium tristique. Suspendisse eget scelerisque tortor.
                    </p>
                    <p>
                        Vivamus malesuada bibendum pellentesque. Nullam in mauris a libero mattis condimentum. Duis id ornare arcu, quis gravida nunc. Ut vitae euismod nisl. Cras feugiat aliquet tellus nec tempor. Mauris ac suscipit ipsum, non sagittis velit. Vestibulum sit amet sapien non magna dictum vulputate. Proin pellentesque tellus sit amet sapien dignissim sodales. Proin dignissim convallis lorem, id elementum dolor maximus in.
                    </p>
                </div>
            </div>

            <div class="card recommendation-list">
                <div class="card-header">
                    Recomendados
                </div>
                <div class="card-body">
                    <div class="jumbotron" sec:authorize="isAnonymous()">
                        <p>
                            <a th:href="@{/user/create}">Registre-se</a>
                            <span>ou</span>
                            <a th:href="@{/login}">loge-se</a>
                            <span>no sistema para ver suas recomendações.</span>
                        </p>
                    </div>

                    <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel"
                         sec:authorize="isAuthenticated()">
                        <div class="carousel-inner">
                            <div class="carousel-item"
                                 th:each="announce, status : ${suggestions}"
                                 th:classappend="${status.first} ? 'active'">

                                <a th:replace="/announce/fragments/callout :: callout(${announce})"></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-footer">
                    <a th:href="@{/suggestions}" class="btn btn-secondary pull-right">
                        Ver mais
                    </a>
                </div>
            </div>

            <div class="card">
                <div class="card-header">
                    Últimos 5 anúncios
                </div>
                <div class="card-body">
                    <th:block th:each="announce :  ${announces}">
                        <a th:replace="/announce/fragments/callout :: callout(${announce})"></a>
                    </th:block>
                </div>
                <div class="card-footer">
                    <a th:href="@{/announces}" class="btn btn-secondary pull-right">
                        Ver mais
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
