<div th:fragment="managerSidebar(sidebar)">
    <div class="card" th:object="${sidebar}">
        <div class="card-header" th:text="#{sidebar.user.perfil}"></div>

        <div class="card-body">
            <a class="btn btn-light btn-block text-left"
               th:href="*{userProfile.href}"
               th:classappend="*{userProfile.active} ? 'active'">
                <i class="fa fa-user-edit mr-2"></i> <span th:text="#{ sidebar.user.myData}"></span></a>

            <a class="btn btn-light btn-block text-left"
               th:href="*{userPassword.href}"
               th:classappend="*{userPassword.active} ? 'active'">
                <i class="fa fa-lock mr-2"></i> <span th:text="#{sidebar.user.alterPass}"></span></a>
        </div>

        <div class="card-header" th:text="#{sidebar.user.myAnnounces}"></div>

        <div class="card-body">
            <a class="btn btn-light btn-block text-left"
               th:href="*{announceActive.href}"
               th:classappend="*{announceActive.active} ? 'active'">
                <i class="fa fa-check-circle mr-2"></i> <span th:text="#{sidebar.user.published}"></span></a>

            <a class="btn btn-light btn-block text-left"
               th:href="*{announceWaitingReview.href}"
               th:classappend="*{announceWaitingReview.active} ? 'active'">
                <i class="fa fa-exclamation-circle mr-2"></i>
                <span th:text="#{sidebar.user.reported}"></span>
                <span class="badge badge-danger badge-pill pull-right"
                      th:if="*{announceWaitingReview.size > 0}"
                      th:text="*{announceWaitingReview.size}">0</span>
            </a>

            <a class="btn btn-light btn-block text-left"
               th:href="*{announceBlocked.href}"
               th:classappend="*{announceBlocked.active} ? 'active'">
                <i class="fa fa-ban mr-2"></i>
                <span th:text="#{sidebar.user.refused}"></span></a>
        </div>

        <div class="card-header" th:if="*{moderator}" th:text="#{sidebar.mod.complaints}"></div>

        <div class="card-body" th:if="*{moderator}">
            <a class="btn btn-light btn-block text-left"
               th:href="*{reportAnnounces.href}"
               th:classappend="*{reportAnnounces.active} ? 'active'">
                <i class="fa fa-bullhorn mr-2"></i>
                <span th:text="#{sidebar.mod.announces}"> </span>
                <span class="badge badge-danger badge-pill pull-right"
                      th:if="*{reportAnnounces.size > 0}"
                      th:text="*{reportAnnounces.size}">0</span>
            </a>

            <a class="btn btn-light btn-block text-left"
               th:href="*{reportComments.href}"
               th:classappend="*{reportComments.active} ? 'active'">
                <i class="fa fa-comments mr-2"></i>
                <span th:text="#{sidebar.mod.comments}"> </span>
                <span class="badge badge-danger badge-pill pull-right"
                      th:if="*{reportComments.size > 0}"
                      th:text="*{reportComments.size}">0</span>
            </a>


            <a class="btn btn-light btn-block text-left"
               th:href="*{reportUsers.href}"
               th:classappend="*{reportUsers.active} ? 'active'">
                <i class="fa fa-user mr-2"></i>
                <span th:text="#{sidebar.mod.users}"> </span>
                <span class="badge badge-danger badge-pill pull-right"
                      th:if="*{reportUsers.size > 0}"
                      th:text="*{reportUsers.size}">0</span>
            </a>
        </div>

        <div class="card-header" th:if="*{moderator}" th:text="#{sidebar.adm.management}"></div>

        <div class="card-body" th:if="*{moderator}">
            <a class="btn btn-light btn-block text-left"
               th:href="*{adminUsers.href}"
               th:classappend="*{adminUsers.active} ? 'active'">
                <i class="fa fa-users mr-2"></i>
                <span th:text="#{sidebar.adm.users}"></span></a>
        </div>

    </div>

</div>
