<div th:fragment="managerSidebar(sidebar)">
    <div class="card" th:object="${sidebar}">
        <div class="card-header" th:text="#{sidebar.user.perfil}"></div>

        <div class="card-body">
            <a class="btn btn-light d-flex justify-content-between align-items-center"
               th:href="*{userProfile.href}"
               th:classappend="*{userProfile.active} ? 'active'"
            > <div th:text="#{sidebar.user.myData}"></div></a>

            <a class="btn btn-light d-flex justify-content-between align-items-center"
               th:href="*{userPassword.href}"
               th:classappend="*{userPassword.active} ? 'active'"
            > <div th:text="#{sidebar.user.alterPass}"></div></a>
        </div>

        <div class="card-header" th:text="#{sidebar.user.myAnnounces}"> </div>

        <div class="card-body">
            <a class="btn btn-light d-flex justify-content-between align-items-center"
               th:href="*{announceActive.href}"
               th:classappend="*{announceActive.active} ? 'active'"
            > <div th:text="#{sidebar.user.published}"></div></a>

            <a class="btn btn-light d-flex justify-content-between align-items-center"
               th:href="*{announceWaitingReview.href}"
               th:classappend="*{announceWaitingReview.active} ? 'active'">
                <div th:text="#{sidebar.user.reported}"></div>
                <span class="badge badge-danger badge-pill"
                      th:if="*{announceWaitingReview.size > 0}"
                      th:text="*{announceWaitingReview.size}">0</span>
            </a>

            <a class="btn btn-light d-flex justify-content-between align-items-center"
               th:href="*{announceBlocked.href}"
               th:classappend="*{announceBlocked.active} ? 'active'">
                <div th:text="#{sidebar.user.refused}"></div></a>
        </div>

        <div class="card-header" th:if="*{moderator}" th:text="#{sidebar.mod.complaints}"></div>

        <div class="card-body" th:if="*{moderator}">
            <a class="btn btn-light d-flex justify-content-between align-items-center"
               th:href="*{denunciationAnnounces.href}"
               th:classappend="*{denunciationAnnounces.active} ? 'active'">
                <div th:text="#{sidebar.mod.announces}"> </div>
                <span class="badge badge-danger badge-pill"
                      th:if="*{denunciationAnnounces.size > 0}"
                      th:text="*{denunciationAnnounces.size}">0</span>
            </a>

            <a class="btn btn-light d-flex justify-content-between align-items-center"
               th:href="*{denunciationComments.href}"
               th:classappend="*{denunciationComments.active} ? 'active'"
            > <div th:text="#{sidebar.mod.comments}"> </div>
                <span class="badge badge-danger badge-pill"
                      th:if="*{denunciationComments.size > 0}"
                      th:text="*{denunciationComments.size}">0</span>
            </a>
        </div>

        <div class="card-header" th:if="*{admin}" th:text="#{sidebar.adm.management}"> </div>

        <div class="card-body" th:if="*{admin}">
            <a class="btn btn-light d-flex justify-content-between align-items-center"
               th:href="*{adminUsers.href}"
               th:classappend="*{adminUsers.active} ? 'active'">
              <div th:text="#{sidebar.adm.users}"></div></a>

            <a class="btn btn-light d-flex justify-content-between align-items-center"
               th:href="*{adminModerators.href}"
               th:classappend="*{adminModerators.active} ? 'active'">
              <div th:text="#{sidebar.adm.mod}"></div> </a>

            <a class="btn btn-light d-flex justify-content-between align-items-center"
               th:href="*{adminAdmin.href}"
               th:classappend="*{adminAdmin.active} ? 'active'">
              <div th:text="#{sidebar.adm.admins}"></div></a>
        </div>

    </div>

</div>
