<div th:fragment="managerSidebar(sidebar)">
    <div class="card" th:object="${sidebar}">
        <div class="card-header">Perfil</div>

        <div class="card-body">
            <a class="btn btn-light d-flex justify-content-between align-items-center"
               th:href="*{userProfile.href}"
               th:classappend="*{userProfile.active} ? 'active'"
            >Meus dados</a>

            <a class="btn btn-light d-flex justify-content-between align-items-center"
               th:href="*{userPassword.href}"
               th:classappend="*{userPassword.active} ? 'active'"
            >Alterar senha</a>
        </div>

        <div class="card-header">Meus Anúncios</div>

        <div class="card-body">
            <a class="btn btn-light d-flex justify-content-between align-items-center"
               th:href="*{announceActive.href}"
               th:classappend="*{announceActive.active} ? 'active'"
            >Publicados</a>

            <a class="btn btn-light d-flex justify-content-between align-items-center"
               th:href="*{announceWaitingReview.href}"
               th:classappend="*{announceWaitingReview.active} ? 'active'"
            >Reportados
                <span class="badge badge-danger badge-pill"
                      th:if="*{announceWaitingReview.size > 0}"
                      th:text="*{announceWaitingReview.size}">0</span>
            </a>

            <a class="btn btn-light d-flex justify-content-between align-items-center"
               th:href="*{announceBlocked.href}"
               th:classappend="*{announceBlocked.active} ? 'active'"
            >Bloqueados</a>
        </div>

        <div class="card-header" th:if="*{moderator}">Denúncias</div>

        <div class="card-body" th:if="*{moderator}">
            <a class="btn btn-light d-flex justify-content-between align-items-center"
               th:href="*{denunciationAnnounces.href}"
               th:classappend="*{denunciationAnnounces.active} ? 'active'"
            >Anúncios
                <span class="badge badge-danger badge-pill"
                      th:if="*{denunciationAnnounces.size > 0}"
                      th:text="*{denunciationAnnounces.size}">0</span>
            </a>

            <a class="btn btn-light d-flex justify-content-between align-items-center"
               th:href="*{denunciationComments.href}"
               th:classappend="*{denunciationComments.active} ? 'active'"
            >Comentários
                <span class="badge badge-danger badge-pill"
                      th:if="*{denunciationComments.size > 0}"
                      th:text="*{denunciationComments.size}">0</span>
            </a>
        </div>

        <div class="card-header" th:if="*{admin}">Administração Usuários</div>

        <div class="card-body" th:if="*{admin}">
            <a class="btn btn-light d-flex justify-content-between align-items-center"
               th:href="*{adminUsers.href}"
               th:classappend="*{adminUsers.active} ? 'active'"
            >Usuários</a>

            <a class="btn btn-light d-flex justify-content-between align-items-center"
               th:href="*{adminModerators.href}"
               th:classappend="*{adminModerators.active} ? 'active'"
            >Moderadores</a>

            <a class="btn btn-light d-flex justify-content-between align-items-center"
               th:href="*{adminAdmin.href}"
               th:classappend="*{adminAdmin.active} ? 'active'"
            >Adminstradores</a>
        </div>

    </div>

</div>
