<div xmlns:th="http://www.w3.org/1999/xhtml" th:fragment="user_contact_data">

    <div class="row">
        <div class="col col-md-5">
            <div class="form-group">
                <label for="user_form_name" th:text="#{user.form.name}"> </label>
                <input type="text" class="form-control" id="user_form_name" th:field="*{name}" required
                       minlength="3" maxlength="120">
            </div>
        </div>

        <div class="col">
            <div class="form-group">
                <label for="user.form.email" th:text="#{user.form.email}"> </label>
                <input type="text" class="form-control" id="user.form.email" th:field="*{email}" required
                       minlength="5" maxlength="120">
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col col-md-6">
            <div class="form-group">
                <label for="user_form_residentialPhone" th:text="#{user.form.residentialPhone}"> </label>
                <input type="text" class="form-control mask-residentialNumber" id="user_form_residentialPhone" th:field="*{residentialPhone}" required
                       minlength="4" maxlength="120">
            </div>
        </div>

        <div class="col">
            <div class="form-group">
                <label for="user.form.celPhone" th:text="#{user.form.celPhone}"> </label>
                <input type="text" class="form-control mask-celPhone" id="user.form.celPhone" th:field="*{celPhone}"
                       minlength="1" maxlength="5">
            </div>
        </div>
    </div>

</div>